Node-RED/Flow.txt
 [{"id":"8352e276.38ad4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a72e099f.200fd8","type":"mqtt in","z":"8352e276.38ad4","name":"","topic":"esp/sht3x/tem","qos":"1","datatype":"auto","broker":"33cb1700.c9c3fa","x":610,"y":500,"wires":[["b630e996.6d4258","dc4473a.873659","dac33da5.82a08"]]},{"id":"b607a782.02f9c8","type":"comment","z":"8352e276.38ad4","name":"MQTT Server","info":"For network address you can use \"localhost to run it locally. I've used port 1884 so I don't mess with my running MQTT FHICT server\"","x":270,"y":120,"wires":[]},{"id":"a9fade3.773d12","type":"aedes broker","z":"8352e276.38ad4","name":"Server","mqtt_port":"1883","mqtt_ws_port":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":250,"y":180,"wires":[[]]},{"id":"bdfc9e32.5abde","type":"mqtt in","z":"8352e276.38ad4","name":"","topic":"esp/sht3x/hum","qos":"1","datatype":"auto","broker":"33cb1700.c9c3fa","x":580,"y":560,"wires":[["5a99db38.87d344","e96176f2.447648","37e634d8.cd97cc"]]},{"id":"b630e996.6d4258","type":"ui_gauge","z":"8352e276.38ad4","name":"","group":"3810bf70.93e56","order":2,"width":0,"height":0,"gtype":"gage","title":"","label":"°C","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":500,"wires":[]},{"id":"5a99db38.87d344","type":"ui_gauge","z":"8352e276.38ad4","name":"","group":"13b263d3.48093c","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":540,"wires":[]},{"id":"dc4473a.873659","type":"ui_chart","z":"8352e276.38ad4","name":"","group":"3810bf70.93e56","order":3,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":810,"y":440,"wires":[["93ea4cd1.08cff"]]},{"id":"93ea4cd1.08cff","type":"file","z":"8352e276.38ad4","name":"Chart dump","filename":"D:\\Programming\\Personal Projects\\MQTT_Temperature_Dashboard\\Node-RED\\temperature_chart.dump","appendNewline":true,"createDir":true,"overwriteFile":"true","x":970,"y":440,"wires":[["3ac9bd0a.a185d2"]]},{"id":"3ca261db.8f354e","type":"file in","z":"8352e276.38ad4","name":"Chart dump","filename":"D:\\Programming\\Personal Projects\\MQTT_Temperature_Dashboard\\Node-RED\\temperature_chart.dump","format":"utf8","x":470,"y":400,"wires":[["8d57b54b.23b458"]]},{"id":"8d57b54b.23b458","type":"json","z":"8352e276.38ad4","name":"","property":"payload","action":"","pretty":false,"x":622,"y":400,"wires":[["dc4473a.873659"]]},{"id":"14ad4699.66fcb9","type":"inject","z":"8352e276.38ad4","name":"Startup","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":280,"y":400,"wires":[["3ca261db.8f354e"]]},{"id":"3ac9bd0a.a185d2","type":"debug","z":"8352e276.38ad4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1150,"y":440,"wires":[]},{"id":"1fee1de5.695e32","type":"switch","z":"8352e276.38ad4","name":"Return code","property":"payload.code","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":1470,"y":760,"wires":[[],[]]},{"id":"f79c29b7.055068","type":"comment","z":"8352e276.38ad4","name":"Auto Logger","info":"","x":890,"y":640,"wires":[]},{"id":"4c8ae605.33be88","type":"function","z":"8352e276.38ad4","name":"Set data","func":"var date = new Date();\nvar dateStr =\n  (\"00\" + date.getDate()).slice(-2) + \"/\" +\n  (\"00\" + (date.getMonth() + 1)).slice(-2) + \"/\" +\n  date.getFullYear() + \" \" +\n  (\"00\" + date.getHours()).slice(-2) + \":\" +\n  (\"00\" + date.getMinutes()).slice(-2) + \":\" +\n  (\"00\" + date.getSeconds()).slice(-2);\n  \nmsg.payload = {\n    \"timestamp\" : dateStr,\n    \"temperature\" : msg.payload.temp,\n    \"humidity\" : msg.payload.hum\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":700,"wires":[["f46f569e.ff1a08","cdbca268.4b44a"]]},{"id":"f46f569e.ff1a08","type":"function","z":"8352e276.38ad4","name":"Filename generator","func":"// Get the current time and convert it to text\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\n// Generate out file name pattern\nmsg.fname = \"sht30_\"+ yyyy + mm + dd + \".csv\";\n// Full filename with path for the file node later\nmsg.filename = \"D:\\\\Programming\\\\Personal Projects\\\\MQTT_Temperature_Dashboard\\\\Node-RED\\\\\"+ msg.fname;\n\n// We save the current payload into a different place on the msg object\nmsg.filecontent = msg.payload;\n\n// We are passing the file name search pattern to fs node to tell us if the file exists or not\nmsg.payload = {\"pattern\":msg.fname};\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.fname});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":820,"wires":[["fa6936f.7758dc8"]]},{"id":"a96494a5.b0f4c8","type":"debug","z":"8352e276.38ad4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1310,"y":740,"wires":[]},{"id":"3db97537.b889ea","type":"switch","z":"8352e276.38ad4","name":"","property":"$count(msg.payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1290,"y":820,"wires":[["3cb887e8.e533a8"],["f3ba1c7a.54ef5"]]},{"id":"fe6f74d5.674ec8","type":"csv","z":"8352e276.38ad4","name":"","sep":",","hdrin":"","hdrout":"all","multi":"one","ret":"\\n","temp":"timestamp,temperature,humidity","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":1630,"y":800,"wires":[["3a8ebdf3.772cc2"]]},{"id":"3a8ebdf3.772cc2","type":"file","z":"8352e276.38ad4","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":1790,"y":800,"wires":[[]]},{"id":"f226a86d.9bdfb8","type":"csv","z":"8352e276.38ad4","name":"","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\n","temp":"timestamp,temperature,humidity","skip":"0","strings":true,"x":1630,"y":840,"wires":[["3a8ebdf3.772cc2"]]},{"id":"3cb887e8.e533a8","type":"change","z":"8352e276.38ad4","name":"Get file content","rules":[{"t":"set","p":"payload","pt":"msg","to":"filecontent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":800,"wires":[["fe6f74d5.674ec8"]]},{"id":"f3ba1c7a.54ef5","type":"change","z":"8352e276.38ad4","name":"Get file content","rules":[{"t":"set","p":"payload","pt":"msg","to":"filecontent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":840,"wires":[["f226a86d.9bdfb8"]]},{"id":"fa6936f.7758dc8","type":"fs-file-lister","z":"8352e276.38ad4","name":"","start":"D:\\Programming\\Personal Projects\\MQTT_Temperature_Dashboard\\Node-RED","pattern":"","folders":"*","hidden":true,"lstype":"files","path":true,"single":true,"depth":0,"stat":true,"showWarnings":false,"x":1140,"y":820,"wires":[["a96494a5.b0f4c8","3db97537.b889ea"]]},{"id":"bc687761.64bed8","type":"join","z":"8352e276.38ad4","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":810,"y":700,"wires":[["4c8ae605.33be88"]]},{"id":"dac33da5.82a08","type":"function","z":"8352e276.38ad4","name":"temp","func":"msg.topic = \"temp\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":620,"wires":[["bc687761.64bed8"]]},{"id":"e96176f2.447648","type":"function","z":"8352e276.38ad4","name":"hum","func":"msg.topic = \"hum\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":660,"wires":[["bc687761.64bed8"]]},{"id":"8e968928.af8328","type":"comment","z":"8352e276.38ad4","name":"Recovers the chart state","info":"","x":310,"y":360,"wires":[]},{"id":"9325aba7.1b8398","type":"comment","z":"8352e276.38ad4","name":"Recovers the chart state","info":"","x":1010,"y":400,"wires":[]},{"id":"f1424be7.8df9f8","type":"comment","z":"8352e276.38ad4","name":"Converts the topic names from the MQTT topics to more readable ones","info":"","x":270,"y":700,"wires":[]},{"id":"cdbca268.4b44a","type":"debug","z":"8352e276.38ad4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":600,"wires":[]},{"id":"37e634d8.cd97cc","type":"debug","z":"8352e276.38ad4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":580,"wires":[]},{"id":"33cb1700.c9c3fa","type":"mqtt-broker","name":"","broker":"192.168.178.10","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3810bf70.93e56","type":"ui_group","name":"Temperature","tab":"70346af8.5906d4","order":1,"disp":true,"width":"6","collapse":false},{"id":"13b263d3.48093c","type":"ui_group","name":"Humidity","tab":"70346af8.5906d4","order":2,"disp":true,"width":"6","collapse":false},{"id":"70346af8.5906d4","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]